

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #662240;
}

.fundo{
    width: 123%;
    position: fixed;
    top: -228px;
    left: 119px;
    z-index: -1;
}

.titulo{
    margin-left: 170px;
    margin-top: 35px;
}

.capa{
    width: 18%;
    margin-left: 190px;
    margin-top: 12px;
}

.tocando{
    width: 18%;
    margin-left: 170px;
    margin-top: 10px;
}

.tracklist{
    width: 25%;
    position: fixed;
    top: 150px;
    left: 620px;
}

.miley{
    width: 30%;
    position: fixed;
    top: 150px;
    left: 1095px;
}

.video{
    width: 10%;
    position: fixed;
    top: 570px;
    left: 735px;
}

.moldura{
    width: 10%;
    position: fixed;
    top: 570px;
    left: 735px;
}

.musica{
    width: -230%;
    position: fixed;
    top: 600px;
    left: 255px;
    z-index: 10;
    color: #662240;
    border-radius: 5px;
}
